// DEPENDS ON mixins/_form_builder_mixins.scss

/* stylelint-disable */

$fg_notices: (
  "notice": $primary,
  "tips": $primary,
  "errors": $danger,
);

.fg_notices {
  .notice_div {
    @include form-builder-alert();
    @include form-builder-alert-color-set($fg_notices);
  }
  .notice_cover {
    color: $gray-600;
    background-color: $white;
  }
}

#fg_wrapper {
  #fg_unused_fields {
    .chosen-single {
      @include form-builder-button();
      @include button-outline-variant($primary);
    }
    .chosen-results {
      .active-result {
        &[data-action="restore"],
        &[data-action="load"],
        &:last-child {
          color: $gray-600;
        }
        &:last-child {
          background-color: $gray-100;
        }
      }
    }
  }
}

#fg_title,
#fg_steps {
  border-color: $gray-300;
}

#fg_content {
  background-color: $gray-100;
  .chosen-single {
    @include form-builder-form-select();
  }
  .chosen-results {
    .active-result {
      &.highlighted {
        color: $gray-600;
        background-color: $gray-100;
      }
      &.result-selected {
        color: $primary;
      }
    }
  }
  input[type=text],
  input[type=password],
  input[type=number],
  textarea {
    @include form-builder-form-control();
  }
  select {
    @include form-builder-form-select();
  }
  .fg_button_bar {
    button.btn,
    button[data-action],
    input[type=button],
    input[type=text],
    .chosen-single {
      padding: $input-padding-y-sm $input-padding-x-sm;
      @include font-size($input-font-size-sm);
      @include border-radius($input-border-radius-sm);
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    }
    select {
      padding: 0;
    }
  }
  #fg_container {
    input[type=text],
    input[type=password],
    input[type=number],
    textarea,
    .chosen-single {
      padding: $input-padding-y $input-padding-x;
      @include font-size($input-font-size);
      @include border-radius($input-border-radius);
    }
    select {
      padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
    }
  }
}

#fg_container {
  button.btn,
  button[data-action],
  input[type=button] {
    @include form-builder-button();
    @include button-outline-variant($secondary);
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    min-width: 70px;
  }
  li {
    &.fg_field {
      border-color: $gray-200;
    }
  }
  #field_list {
    .btn_save_nav6up,
    .btn_primary {
      @include button-variant($primary, $primary);
    }
  }
  .fld_btn {
    &.fg_add,
    &.fg_handle,
    &.fg_sechandle,
    &.fg_remove,
    &.fg_totop,
    &.fg_tobottom {
      &:before {
        color: $gray-600;
      }
    }
  }
  .ui-state-active {
    background: $gray-200;
  }
  .fg_container {
    [class*=blurb],
    .title {
      color: $gray-600;
    }
  }
}

#fg_inspector {
  .chosen-search {
    input.chosen-search-input {
      @include form-builder-form-control-sm();
    }
  }
}

body {
  &.fw {
    .ui-menu {
      .ui-state-active {
        background-color: $gray-200;
      }
    }
    .ui-dialog {
      .btn-close {
        background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat;
      }
      .ui-dialog-titlebar {
        background: $gray-100;
      }
      .ui-dialog-buttonpane {
        border-color: $modal-footer-border-color;
        .ui-button {
          &.btn_primary {
            @include button-variant($primary, $primary);
          }
        }
      }
    }
    .ui-dialog .ui-dialog-buttonpane button {
      @include form-builder-button();
      @include button-outline-variant($secondary);
    }
  }
}

#fg_msg {
  .msg_btn {
    @include button-outline-variant($secondary);
  }
}

/* stylelint-enable */
