/* stylelint-disable */

// Import variables from Janus design tokens
@import "../node_modules/@symplicity/janus-tokens/dist/index";

// TO DO: Update type token for Janus v2 and use it here. Until then, Temporarily, override font stack

// Custom color palette
$primary: $janus-color-primary !default;
$secondary: $janus-color-gray-800 !default;
$success: $janus-color-success !default;
$info: $janus-color-info !default;
$warning: $janus-color-warning !default;
$danger: $janus-color-danger !default;
$light: $janus-color-gray-200 !default;
$dark: $janus-color-gray-800 !default;

$success-text-emphasis:   $success !default;
$info-text-emphasis:      $info !default;
$warning-text-emphasis:   $warning !default;
$danger-text-emphasis:    $danger !default;

$success-bg-subtle:       $janus-color-success-background !default;
$info-bg-subtle:          $janus-color-info-background !default;
$warning-bg-subtle:       $janus-color-warning-background !default;
$danger-bg-subtle:        $janus-color-danger-background !default;

$success-border-subtle:   $success-bg-subtle !default;
$info-border-subtle:      $info-bg-subtle !default;
$warning-border-subtle:   $warning-bg-subtle !default;
$danger-border-subtle:    $danger-bg-subtle !default;

// Map Janus design tokens to bootstrap variables
$white: $janus-color-white !default;
$gray-100: $janus-color-gray-100 !default;
$gray-200: $janus-color-gray-200 !default;
$gray-300: $janus-color-gray-300 !default;
$gray-400: $janus-color-gray-400 !default;
$gray-500: $janus-color-gray-500 !default;
$gray-600: $janus-color-gray-600 !default;
$gray-700: $janus-color-gray-700 !default;
$gray-800: $janus-color-gray-800 !default;
$gray-900: $janus-color-gray-900 !default;
$black: $janus-color-black !default;

$primary-25: tint-color($primary, 98%);
$primary-50: tint-color($primary, 95%);
$primary-75: tint-color($primary, 90%);
$primary-100: tint-color($primary, 80%) !default;
$primary-200: tint-color($primary, 60%) !default;
$primary-300: tint-color($primary, 40%) !default;
$primary-400: tint-color($primary, 20%) !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;         // NEEDS REVIEW
$purple:  #6f42c1 !default;         // NEEDS REVIEW
$pink:    #e83e8c !default;         // NEEDS REVIEW
$red:     $janus-color-danger !default;
$orange:  #fd7e14 !default;         // NEEDS REVIEW
$yellow:  $janus-color-warning !default;
$green:   $janus-color-success !default;
$teal:    #20c997 !default;         // NEEDS REVIEW
$cyan:    $janus-color-info !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "gray-100":   $gray-100,
  "gray-200":   $gray-200,
  "gray-300":   $gray-300,
  "gray-400":   $gray-400,
  "gray-500":   $gray-500,
  "gray-600":   $gray-600,
  "gray-700":   $gray-700,
  "gray-800":   $gray-800,
  "gray-900":   $gray-900,
  "primary-25":  $primary-25,
  "primary-50":  $primary-50,
  "primary-75":  $primary-75,
  "primary-100":  $primary-100,
  "primary-200":  $primary-200,
  "primary-300":  $primary-300,
  "primary-400":  $primary-400
) !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-negative-margins:     true !default;
$enable-validation-icons:     false !default;
$enable-shadows:              true !default;

// Body
//
// Settings for the `<body>` element.

$body-color:                  $gray-800 !default;


// TO DO: Revisit.. on Mac/Chrome, font weight is rendered much heavier vs Figma. How does it compare with Windows?
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$box-shadow:                  0 .25rem .5rem rgba(0, 0, 0, 0.08), 0 .25rem 1rem rgba(0, 0, 0, 0.10) !default;
$box-shadow-sm:               0 1px .25rem rgba(0, 0, 0, 0.12), 0 .25rem 1rem rgba(0, 0, 0, 0.06) !default;
$box-shadow-lg:               0 1rem 1.5rem rgba(0, 0, 0, 0.28), 0 .25rem 1rem rgba(0, 0, 0, 0.12) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$modal-backdrop-opacity:      .15 !default; 
$modal-content-box-shadow-xs: $box-shadow-lg;
$modal-content-box-shadow-sm-up: $box-shadow-lg;
$dropdown-box-shadow: $box-shadow-sm;

$alert-border-width:          0 !default;

$badge-font-size:             .875rem !default;
$badge-font-weight:           $font-weight-normal !default;
$badge-padding-x:             .5714em;
$badge-padding-y:             .5714em;
$badge-border-radius:         $janus-border-radius;

$border-radius:               $janus-border-radius !default;
$border-radius-sm:            $janus-border-radius-sm !default;
$border-radius-lg:            $janus-border-radius !default;

/* border-radius-xl and xxl also available */

$btn-box-shadow:              none !default;

$font-size-base:              $janus-font-size-base !default;
$btn-font-size-lg:            $janus-font-size-base !default;

$line-height-base:            $janus-line-height-base !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$headings-line-height:        $janus-headings-line-height-base !default;

$h1-font-size:                $janus-font-size-base * 2 !default;
$h2-font-size:                $janus-font-size-base * 1.75 !default;
$h3-font-size:                $janus-font-size-base * 1.25 !default;
$h4-font-size:                $janus-font-size-base !default;
$h5-font-size:                $janus-font-size-base * .875 !default;
$h6-font-size:                $janus-font-size-base * .8125 !default;

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 1.5rem,
  8: .875rem
) !default;

$legend-margin-bottom:        .25rem !default;
$legend-font-size:            $h4-font-size !default;
$legend-font-weight:          600 !default;

$input-btn-padding-y:         $janus-input-btn-padding-y !default;
$input-btn-padding-x:         $janus-input-btn-padding-x !default;
$input-btn-padding-y-sm:      $janus-input-btn-padding-y-sm !default;
$input-btn-padding-x-sm:      $janus-input-btn-padding-x-sm !default;
$input-btn-padding-y-lg:      $janus-input-btn-padding-y-lg !default;
$input-btn-padding-x-lg:      $janus-input-btn-padding-x-lg !default;

$input-box-shadow:            0 0 0 0 $janus-color-primary !default;
$input-focus-box-shadow:      0 0 0 1px #fff, 0 0 0 3px $janus-color-primary !default;
$input-btn-focus-box-shadow:  0 0 0 1px #fff, 0 0 0 3px $janus-color-primary !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;

$form-select-indicator-color: $gray-700 !default;

$form-select-box-shadow:      $input-box-shadow !default;
$form-select-focus-box-shadow: $input-focus-box-shadow !default;

$input-padding-x:             $janus-input-text-padding-x !default;
$input-padding-y:             $janus-input-text-padding-y !default;

$border-width:                1px !default;
$border-color:                $janus-color-primary !default;
$input-border-color:          $gray-500 !default;
$input-btn-border-width:      $border-width !default;
$btn-border-width:            $input-btn-border-width !default;
$input-placeholder-color:     $gray-400 !default;

$form-check-input-border:     1px solid $input-border-color !default;
$form-check-input-width:      1em !default;
$form-check-margin-bottom:    $janus-dropdown-spacer !default;
$form-check-input-border-radius: $janus-border-radius-sm !default;

$badge-padding-x:             $janus-badge-padding-x !default;
$badge-padding-y:             $janus-badge-padding-y !default;
$badge-border-radius:         $janus-border-radius !default;

$alert-padding-x:             $janus-alert-padding-x !default;
$alert-padding-y:             $janus-alert-padding-y !default;

//$close-font-size:             $janus-font-size-base !default;
//$close-line-height:           $janus-icon-lg-line-height !default;
//$close-text-shadow:           none !default;

$breadcrumb-item-padding-x:   .25rem !default;

$dropdown-min-width:          12.5rem !default;
$dropdown-item-padding-y:     $janus-dropdown-item-padding-y !default;
$dropdown-item-padding-x:     $janus-dropdown-item-padding-x !default;

$dropdown-header-color:       $secondary !default;
$dropdown-spacer:             $janus-dropdown-spacer !default;
$dropdown-border-radius:      $janus-border-radius !default;
$dropdown-box-shadow:         $box-shadow-sm !default;
$dropdown-border-color:       $gray-100 !default;
$dropdown-divider-bg:         $janus-color-gray-200 !default;

$offcanvas-box-shadow:        $box-shadow;

$modal-title-line-height:     $janus-modal-title-line-height !default;
$modal-header-border-color:   transparent !default;
$modal-content-border-color:  transparent !default;
$modal-footer-border-color:   $janus-color-hr-gray !default;

$modal-header-padding-y:      $janus-modal-padding-y !default;
$modal-header-padding-x:      $janus-modal-padding-x !default;
$modal-inner-padding:         $janus-modal-padding-x !default;

$btn-font-weight:             $font-weight-medium !default;
$btn-line-height:             1 !default;

//$input-focus-border-color:    $janus-color-primary !default;
$input-focus-border-color:    tint-color($component-active-bg, 50%) !default;

$input-btn-focus-width:       .125rem !default;
$input-btn-focus-color-opacity: 1 !default;

//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $janus-color-primary !default;
//$input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
$input-btn-focus-color:       rgba($component-active-bg, $input-btn-focus-color-opacity) !default;

$form-text-margin-top:        -0.25rem !default;

$form-label-margin-bottom:    .25rem !default;
$form-label-font-weight:      600 !default;
$form-feedback-font-size:     $janus-font-size-small !default;
$form-feedback-margin-top:    -0.25rem;

$form-select-bg-position:     right $janus-form-select-padding-x center !default;
$search-select-bg-position:   right $janus-search-select-padding-x center;


$btn-close-color:             $black !default;
$btn-close-bg:                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$btn-close-color}' viewBox='0 0 24 24'><path d='M 20.7,4.7 19.3,3.3 12,10.6 4.7,3.3 3.3,4.7 10.6,12 3.3,19.3 4.7,20.7 12,13.4 19.3,20.7 20.7,19.3 13.4,12 Z'/></svg>") !default;
$btn-close-padding-x:         $janus-btn-close-padding-x !default;
$btn-close-padding-y:         $janus-btn-close-padding-y !default;

$link-color:                  $janus-color-primary !default;
$btn-focus-width:             3px !default;

$min-contrast-ratio:          4.5 !default;
$color-contrast-dark:         $black !default;
$color-contrast-light:        $white !default;
$btn-link-focus-shadow-rgb:   to-rgb($link-color) !default;
$btn-focus-box-shadow-opacity:  1 !default;
$prefix:               bs- !default;
.btn {
  --#{$prefix}btn-focus-shadow-rgb: #{$btn-link-focus-shadow-rgb};
  --#{$prefix}btn-focus-box-shadow: 0 0 0 1px #{$white}, 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), #{$btn-focus-box-shadow-opacity});
}
$popover-box-shadow:          $box-shadow-sm !default;

$modal-content-border-radius: $janus-border-radius !default;

$card-border-color:           $gray-200 !default;
$card-cap-padding-x:          1.25rem !default;
$card-cap-padding-y:          1.25rem !default;
$card-inner-border-radius:    $border-radius !default;

$nav-tabs-link-active-color:  $janus-color-primary !default;
$nav-underline-link-active-color: $janus-color-primary !default;
$nav-link-color:              $gray-900 !default;

$nav-tabs-border-color:       $white $white $white;
$nav-tabs-link-active-border-color: $janus-color-primary !default;
$nav-link-padding-x:          $janus-nav-link-padding-x !default;
$nav-link-padding-y:          $janus-nav-link-padding-y !default;
$nav-link-focus-box-shadow:   inset 0 0 0 0.15rem var(--bs-primary-300);
$nav-link-font-weight:        500 !default;
$nav-tabs-border-width:       0 !default;
$nav-underline-border-width:  .1875rem !default;

$link-hover-decoration:       underline !default;

$hr-opacity:                  .1 !default;
$hr-margin-y:                 .75rem !default;

$transition-collapse:         height 0s linear !default;

$table-color:                 $gray-900 !default;

$table-cell-padding-y:        $janus-table-cell-padding-y !default;
$table-cell-padding-x:        $janus-table-cell-padding-x !default;

$list-group-hover-bg: $primary-100;
$list-group-border-color: $gray-200;

*:focus-visible {
  outline-color: var(--bs-primary);
}

.icon-base-font-size {
    width: $janus-icon-base-font-size;
    height: $janus-icon-base-font-size;
  }
  
  .icon-lg-font-size {
    width: $janus-icon-lg-font-size;
    height: $janus-icon-lg-font-size;
  }
  
  .icon-xl-font-size {
    width: $janus-icon-xl-font-size;
    height: $janus-icon-xl-font-size;
  }
  
  .icon-xxl-font-size {
    width: $janus-icon-xxl-font-size;
    height: $janus-icon-xxl-font-size;
  }
  
  .text-shadow-none {
    text-shadow: none;
  }
  
  svg {
    stroke-width: 1.5;
  }
  
  [class^="tabler-chevron-"] {
    svg {
      stroke-width: 2;
    }
  }
icon, button svg, a svg {
    line-height: 1;
}
/* stylelint-enable */