.action-bar-container {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  @include media-breakpoint-up(md) {
    left: unset;
    display: flex;
    width: auto;
    height: 100%;
    box-shadow: inset 1px 0 0 0  var(--#{$prefix}gray-200);
  }
}

.action-bar {
  width: 100%;
  overflow-x: auto;
  box-shadow: inset 0 1px 0 0 var(--#{$prefix}gray-200);
  @include media-breakpoint-up(md) {
    position: relative !important; // stylelint-disable declaration-no-important
    border-top: none;
    box-shadow: inset 1px 0 0 0 var(--#{$prefix}gray-200);
  }

  .nav-pills {
    .nav-link {
      border-radius: 0; // stylelint-disable property-disallowed-list
    }
  }

  .nav {
    .nav-link {
      height: auto;
      background: #fff;
      box-shadow: inset 0 1px 0 0 var(--#{$prefix}gray-200);
      @include media-breakpoint-up(md) {
        box-shadow: inset 1px 0 0 0 var(--#{$prefix}gray-200);
      }

      &.active {
        background: var(--#{$prefix}gray-100);
        box-shadow: inset 0 2px 0 0 $janus-color-primary;
        @include media-breakpoint-up(md) {
          box-shadow: inset 2px 0 0 0 $janus-color-primary;
        }

        svg {
          color: $janus-color-primary;
        }
      }

      &:focus,
      &:hover {
        cursor: pointer;
        background: var(--#{$prefix}gray-100);

        svg {
          color: var(--#{$prefix}gray-800);
        }
      }

      &:focus-visible {
        outline: none; // stylelint-disable declaration-property-value-disallowed-list
      }

      svg {
        color: var(--#{$prefix}gray-600);
      }
    }
  }
}
