.avatar {
  --#{$prefix}btn-focus-shadow-rgb: #{$btn-link-focus-shadow-rgb};
  --#{$prefix}btn-focus-box-shadow: 0 0 0 1px #{$white}, 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), #{$btn-focus-box-shadow-opacity});
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  background-color: var(--#{$prefix}gray-600);
  border: 0;

  &:focus-visible {
    outline: 0;
    box-shadow: var(--#{$prefix}btn-focus-box-shadow);
  }

  &.avatar-text {
    @include font-size($janus-avatar-font-size);
    font-weight: $font-weight-semibold;
    line-height: $janus-avatar-line-height;
    vertical-align: top;
  }

  &.avatar-image {
    overflow: hidden;
    border: 2px solid $gray-100;

    img {
      max-width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: contain;
    }
  }

  &.avatar-icon {
    svg {
      width: 100%;
      height: 100%;
      padding: .25rem;
      vertical-align: top;
    }

    &.avatar-sm {
      svg {
        padding: 0;
      }
    }

    &.avatar-lg {
      svg {
        padding: .5rem;
      }
    }

    &.avatar-xl {
      svg {
        padding: .75rem;
      }
    }
  }

  &.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: .5rem;
    line-height: 1.5rem;

    svg {
      stroke-width: 2;
    }
    &.avatar-rounded {
      svg {
        padding: .25rem;
      }
    }
  }

  &.avatar-md {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;

    svg {
      stroke-width: 1.25;
    }
    &.avatar-rounded {
      svg {
        padding: .5rem;
      }
    }
  }

  &.avatar-lg {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;

    svg {
      stroke-width: 1;
    }
  }

  &.avatar-xl {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;

    svg {
      stroke-width: .75;
    }
  }

  &.avatar-rounded {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: 50%;
  }
}
