// Typography additions and customizations for Janus theme
//
// Letter spacing utilities class, enforce 4px (.25rem) vertical rhythm.

.ls-1 {
  letter-spacing: .084em;
}
.ls-2 {
  letter-spacing: .167em;
}

// Set heading line heights to be divisible by 4px baseline grid.
h1,
.h1 {
  line-height: 1.25;
}
h2,
.h2 {
  line-height: 1.2857142857;
}
h3,
.h3 {
  line-height: 1.4;
}
h4,
.h4 {
  line-height: 1.5;
}
h5,
.h5,
.fs-5 {
  line-height: 1.2857142857;
}
h6,
.h6 {
  line-height: 1.3333333333;
}
